/*tag settings*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: repeating-linear-gradient(#243841,#0A202A, #556d77);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 5px;
  font-size: 15px;
  background-color: #3C545E;
}

h3 {
  text-align: center;
  font: bold 1em;
  margin: auto;
  width: 500px;
  color: white;
  background-color: #3C545E;
}

p {
  color: #8ba1aa;
}

footer {
  text-align-last: center;
  text-decoration-color: #AAA7A4;
  background-color: #AAA7A4;
}

/*=================================================*/

/*class settings*/

.title {
  text-align: center;
  font-size: 20px;
  background-color: #243841;
  border-radius: 90%;
  margin-left: 1.5em;
  padding: 10px;
  opacity: 80%;

}

.big-picture {
  width: 500px;
  margin: auto;
  border: 5px;
  padding: 3px;
}

.small-picture {
  height: 250px;
}

.contents ul {
  background-color: #AAA7A4;
  text-align: center;
  margin: auto;
  padding: 2px;
  height: 40px;
  width: 500px;
  border: solid;
  overflow-y: auto;
  overflow-x: hidden;
}

.entries {
  height: 150px;
  width: 500px;
  line-height: 1.2;
  overflow-y: auto;
  overflow-x: hidden;
}

.date {
  color: white;
  text-decoration: underline;
}

.main-header {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0A202A;
}

.name {
  align-self: start;
}

.logo {
    text-align: center;
    font-size: 20px;
    background-color: #243841;
    border: solid 1px #0A202A;
    margin-left: 1.5em;
    padding: 10px;
    opacity: 80%;
}

.toggle-btn span {
  width: 45px;
  height: 4px;
  background: white;
  display: block;
  margin-top: 4px;
}

/*nav bar links*/
.nav li a {
  text-decoration: none;
  color: white;
}

/*css rules for styling nav items*/

.logo {
    text-align: center;
    display: block;
    padding: 10px 15px;
}

/*changes color of links upon hover*/

.nav a:hover,
.stats a:hover {
	color: #0d96eb;
}

.title-img {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1px;
}

.nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  font-size: .95em;
  color: black;
  text-transform: uppercase;
}

.nav a:hover,
.contents a:hover {
	color: #093a58;
}

.samurai1 {
  width: 200px;
  float: left;
  margin-right: 5px;
  margin-bottom: 1px;
}

.samurai2 {
  width: 200px;
  float: right;
  margin: 5px;
  padding: 5px;
}

/*=================================================*/

/*id settings*/

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10em;
  z-index: 1000;
}

/* toggle button */

#sidebar.toggle-btn {
  position: absolute;
  top: 10px;
  right: 300px;
}

#sidebar.active {
  right: 0;
  transition: .8s;
}

/*nav bar div*/

#sidebar ul {
    position: relative;
    flex-direction: column;
    margin-top: -.7em;
    margin-right: 1.2em;
    text-decoration-color: white;
    text-decoration: none;
}

#sidebar ul li {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 24px 20px;
    list-style-type: none;
    text-decoration: none;
}

#sidebar ul li:hover {
  padding-left: 10px;
}

@media (min-width: 500px) {
  .big-picture,
  .small-picture,
  .header,
  .nav,
  .contents {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }

  .header {
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    align-items: center;
  }

  #sidebar {
    position: absolute;
    height: 10em;
    right: -10em;
    transition: 1.94ms;
}

  #sidebar .toggle-btn {
    position: absolute;
    top: 10px;
    right: 200px;
}

 .main-header {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    }
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
  }

  .nav {
    flex-direction: row;
  }
}
