/*tag settings*/

/*used global box-sizing to include all divs*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*set flex specifications for body of html document to make all children flex items and set font*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: repeating-linear-gradient(#556d77, #243841, #0a202a);
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/*set title bar specifications for text headings*/
h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
  background-color: #0a202a;
}

/*styling for project display blocks*/
canvas {
  display: block;
  align-self: center;
  width: 100%;
  border: 3px solid black;
  background-color: black;
  margin: 0 auto;
}

/*styling for spotify player (footer)*/
iframe {
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 70px;
  opacity: 75%;
}

/*=================================================*/

/*class settings*/

/*main header includes nav and logo elements*/
.main-header {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #0a202a;
}

/*div for logo on left side of nav bar*/
.name {
  align-self: start;
}

.logo {
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-size: 20px;
  background-color: #243841;
  border: solid 1px #0a202a;
  margin-left: 1.5em;
  opacity: 80%;
}

.nav {
  list-style-type: none;
  margin-right: 1.5em;
  padding: 10;
  color: black;
  background-color: #556d77;
  opacity: 80%;
}

/*nav bar links*/
.nav li a {
  text-decoration: none;
  color: white;
}

/*menu button*/
.toggle-btn span {
  width: 45px;
  height: 4px;
  background: white;
  display: block;
  margin-top: 4px;
}

/*css properties for main image*/
.img {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 100px;
  width: 250px;
  border: solid 2px #0a202a;
  padding: 4px;
}

/*styling for div containing img and background*/
.head-div {
  display: flex;
  flex-direction: row;
  background-image: url("https://cdn.wallpapersafari.com/88/55/wGHkyg.jpg");
  opacity: 60%;
  max-height: 270px;
  justify-content: space-between;
}

/*secondary 'web developer' heading*/
.role {
  color: white;
  width: 75%;
  align-self: center;
}

/*div containing 'experience' and 'projects' div*/
.portfolio {
  display: flex;
}

/*div containing competent languages ol*/
.list-div {
  margin-top: 20px;
}

/*ol of competent languages settings*/
.stats {
  margin: 20px;
  padding: 15px;
  padding-top: 25px;
  list-style-type: none;
  flex: 1 5 200px;
  flex-direction: column;
  line-height: 2em;
  border: double 4px white;
  background-color: #3c545e;
}

/*individual list items for competent languages list*/
.stats li {
  color: white;
  margin: 5px;
  padding-top: 5px;
  border-top: 1px solid #172f39;
}

/*changes color of nav and comp-lang links upon hover*/
.nav a:hover,
.stats a:hover {
  color: #0d96eb;
}

/*settings for h2's over 'experience' and 'project' divs*/
.col-titles {
  color: white;
  margin-top: 20px;
  width: 100%;
}

/*project-grid div*/
.project-grid {
  margin: 0 auto;
}

/*individual divs for project display grid*/
.project-block {
  width: 99%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 5px;
}

.text {
  position: absolute;
  color: white;
}

/*=================================================*/

/*id settings*/

/* sidebar div*/
#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10em;
  z-index: 1000;
}

/* toggle button */
#sidebar.toggle-btn {
  position: absolute;
  top: 10px;
  right: 300px;
}

/*sidebar active(clicked)*/
#sidebar.active {
  right: 0;
  transition: 0.8s;
}

/*nav bar div*/
#sidebar ul {
  position: relative;
  flex-direction: column;
  margin-top: -0.7em;
  margin-right: 1.2em;
  text-decoration-color: white;
  text-decoration: none;
}

/*individual menu items*/
#sidebar ul li {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 24px 20px;
  list-style-type: none;
  text-decoration: none;
}

/*changes link position on hover*/
#sidebar ul li:hover {
  padding-left: 10px;
}

/*=================================================*/

/*special instructions for smaller screens*/
@media (min-width: 500px) {
  .main-header,
  .nav,
  .row,
  .stats,
  .col,
  .embed {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    align-items: center;
  }

  .head-div {
    flex-direction: column;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
  }

  .experience {
    margin: 0 auto;
    width: 95%;
    text-align: center;
    flex: 2 1 250px;
  }

  .projects {
    margin: 0 auto;
    width: 95%;
    flex: 1 2 250px;
  }

  .canvas-container {
    display: grid;
  }

  .project-grid {
    margin: 0 auto;
    display: grid;
    grid-gap: 0 0;
    padding: 0;
    background-color: #141b1d;
    margin-top: 5px;
    grid-template-columns: 350px;
  }

  #sidebar {
    position: absolute;
    height: 10em;
    right: -10em;
    transition: 1.94ms;
  }

  #sidebar .toggle-btn {
    position: absolute;
    top: 10px;
    right: 200px;
  }

  #btn.active {
    opacity: 0%;
  }
}

/*instructions for medium to large screens*/

@media (min-width: 1024px) {
  .main-header {
    flex-direction: inherit;
    justify-content: space-between;
    width: 100%;
  }

  .portfolio {
    flex-direction: row;
  }
  /*flex specifications for .col divs*/

  .experience {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 168px;
    width: 25%;
    text-align: center;
    flex: 1 1 250px;
  }

  /*flex specifications for .row divs*/

  .projects {
    flex: 3 1 400px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 170px;
    margin-bottom: auto;
    width: 100%;
  }

  .canvas-container {
    display: grid;
    width: 100%;
  }

  .project-grid {
    display: grid;
    grid-gap: 0 0;
    padding: 0;
    background-color: #202f36;
    margin-top: 15px;
    grid-template-columns: 350px 350px;
  }

  #btn.active {
    opacity: 50%;
  }
}
