/*used global box-sizing to include all divs*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*set flex specifications for body of html document to make all children flex items and set font*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: repeating-linear-gradient(#556d77, #243841, #0a202a);
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/*set title bar specifications for headings*/

h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
  background-color: #0a202a;
}

iframe {
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 90px;
}

canvas {
  display: block;
  align-self: center;
  width: 100%;
  border: 3px solid black;
  background-color: black;
  margin-top: 14px;
}

.toggle-btn span {
  width: 45px;
  height: 4px;
  background: white;
  display: block;
  margin-top: 4px;
}

.portfolio {
  display: flex;
}

/*settings for list items in two text entry divs*/

.stats {
  margin: 20px;
  padding: 15px;
  padding-top: 25px;
  list-style-type: none;
  flex: 1 5 200px;
  flex-direction: column;
  line-height: 2em;
  border: double 4px white;
  background-color: #3c545e;
}

.stats li {
  color: white;
  margin: 5px;
  padding-top: 5px;
  border-top: 1px solid #172f39;
}

.col-titles {
  color: white;
  margin-top: 20px;
  width: 100%;
}

.project-block {
  /* flex-direction: row; */
  width: 99%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 15px;
}

/*main header includes nav and logo objects*/

#main-header {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #0a202a;
}

/*div for logo on left side of nav bar*/

#name {
  align-self: start;
}

#logo {
  text-align: center;
  font-size: 20px;
  background-color: #243841;
  border: solid 1px #0a202a;
  margin-left: 1.5em;
  padding: 10px;
  opacity: 80%;
}

/* sidebar div*/

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10em;
  z-index: 1000;
}

/* toggle button */

#sidebar.toggle-btn {
  position: absolute;
  top: 10px;
  right: 300px;
}

#sidebar.active {
  right: 0;
  transition: 0.8s;
}

/*nav bar links*/
#nav li a {
  text-decoration: none;
  color: white;
}

/*nav bar div*/

#sidebar ul {
  position: relative;
  flex-direction: column;
  margin-top: -0.7em;
  margin-right: 1.2em;
  text-decoration-color: white;
  text-decoration: none;
}

#sidebar ul li {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 24px 20px;
  list-style-type: none;
  text-decoration: none;
}

/*css rules for styling nav items*/

#logo {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

/*changes color of links upon hover*/

#nav a:hover,
.stats a:hover {
  color: #0d96eb;
}

#sidebar ul li:hover {
  padding-left: 10px;
}

/*css properties for main image*/

#img {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 100px;
  width: 250px;
  border: solid 2px #0a202a;
  padding: 4px;
}

#head-div {
  display: flex;
  flex-direction: row;
  background-image: url("https://cdn.wallpapersafari.com/88/55/wGHkyg.jpg");
  opacity: 60%;
  max-height: 270px;
  justify-content: space-between;
}

#role {
  color: white;
  width: 75%;
  align-self: center;
}

/*special instructtions for smaller screens*/

@media (min-width: 100px) {
  #main-header,
  #nav,
  .row,
  .stats,
  .col,
  .embed {
    display: flex;
  }

  #main-header {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  #head-div {
    flex-direction: column;
  }

  #nav {
    align-items: center;
  }

  #sidebar {
    position: absolute;
    height: 10em;
    right: -10em;
    transition: 1.94ms;
  }

  #sidebar .toggle-btn {
    position: absolute;
    top: 10px;
    right: 200px;
  }

  #btn.active {
    opacity: 0%;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
  }
  
  .experience {
    margin: 0 auto;
    width: 95%;
    text-align: center;
    flex: 2 1 250px;
  }

  .projects {
    margin: 0 auto;
    width: 95%;
    flex: 1 2 250px;
  }

  .canvas-container {
    display: grid;
  }
  
  .project-grid {
    margin: 0 auto;
    display: grid;
    grid-gap: 0 0;
    padding: 0;
    background-color: #243841;
    margin-top: 5px;
    grid-template-columns: 350px;
  }
}

/*instructions for medium to large screens*/

@media (min-width: 1024px) {
  #main-header {
    flex-direction: inherit;
    justify-content: space-between;
    width: 100%;
  }

  #btn.active {
    opacity: 50%;
  }

  .portfolio {
    flex-direction: row;
  }
  /*flex specifications for .col divs*/

  .experience {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 168px;
    width: 25%;
    text-align: center;
    flex: 1 1 250px;
  }

  /*flex specifications for .row divs*/

  .projects {
    flex: 3 1 400px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 170px;
    margin-bottom: auto;
    width: 100%;
  }

  .canvas-container {
    display: grid;
    width: 100%;
  }
  
  .project-grid {
    display: grid;
    grid-gap: 0 0;
    padding: 0;
    background-color: #243841;
    margin-top: 15px;
    grid-template-columns: 350px 350px;
  }
}
